@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0, auto;
    height: 100vh;
    display: flex;
    background: linear-gradient(to bottom, #e0eafc, #cfdef3);
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
}

.container {
    text-align: center;
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: .75rem;
}
nav a:hover{
    color: #00f;
}
nav a:visited {
    color: #000;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    flex-grow: 1;
}

h4 {
    font-size: .75rem;
    margin-bottom: 20px;
}

#bird-image {
    height:30vh;
}

.sound-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 24px;
}

.sound-button:focus {
    outline: none;
}


#next-button {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#choices-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 20px;
}

#choice {
    margin: 5px;
    padding: 30px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#choice:hover {
    background-color: #2980b9;
}

